.vscode

/DCMat/dcmat
/DCMat/sintatico.tab.c
/DCMat/tokens.h
/DCMat/lex.yy.c

/Seminario/loader
/Seminario/hello
/Seminario/program.bin

/RegAlloc/regalloc
/RegAlloc/sintatico.tab.c
/RegAlloc/tokens.h
/RegAlloc/lex.yy.c
/RegAlloc/teste_regalloc/diferencas/
/RegAlloc/teste_regalloc/saidas/
/RegAlloc/teste_regalloc/saidas/regalloc.zip

/LinearScan/linearscan
/LinearScan/sintatico.tab.c
/LinearScan/tokens.h
/LinearScan/lex.yy.c