.vscode

# Pastas de teste
*/diferencas/
*/saidas/

# Gerados pelo Flex e Bison
*/sintatico.tab.c
*/tokens.h
*/lex.yy.c

# Compactados
*.zip

# Executáveis
*.bin
*.out

/DCMat/dcmat

/LinearScan/linearscan

/RegAlloc/regalloc

/Seminario/loader
/Seminario/hello